---
layout: default
---


<div class="container">

    <div class="posts">
        <article class="post-preview">
            <h2 class="post-title">{{ page.title }}</h2>
            <div class="post-meta">
                <div>{{ page.date | date: "%B %d, %Y" }}</div>
                {% if page.type == "Essays" %}
                    <div>⸱</div>
                    <div>{{ page.author }}</div>
                    <div>⸱</div>
                    <div>{{ page.words }} Words</div>
                {% else %}
            
                {% endif %}
            </div>
            <div class="post-content">
                {{ content }}
            </div>
        </article>
    </div>


</div>
